.display-flex{
    display: flex;
}

.ligas{
    font-style: italic;
    color: aliceblue;
    font-size: x-large;
    text-align: center;
}

.carac{
    text-align: center;
    width: 50%;
    margin-left: 1rem;
    vertical-align: middle;
}

.titulo{
    text-align: center;
    font-size: xx-large;
    font-style: inherit;
}

.cold{
    width: 50%; 
    margin-left: 0%;
}

.conte{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    vertical-align: middle;
}

.linea{
    border-bottom-style: solid;
    height: 3.8rem;
    border-bottom-color: black;
    border-bottom-width: 5px;
    
}

.lineai{
    border-bottom-style: solid;
    border-right-style: solid;
    height: 3.8rem;
    border-bottom-color: black;
    border-bottom-width: 5px;
    border-right-width: 3px;
    vertical-align: middle;
}

.intro{
    height: 5rem; 
    width: auto; 
    padding: 1rem; 
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; 
    font-size: larger;
    text-align: justify;
}

.vid{
    text-align: center;
}

.logored{
    border-radius: 50%;
}

.pag iframe{
    text-align: center;
    width: 100%;
    height: 1000px;
}